/* ---------------------------
   KM TECHWORKS - GRADIENT THEME
---------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #faf7ff;
}

/* NAVBAR */
header {
  width: 100%;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

header h2 {
  background: linear-gradient(45deg, #ff63b1, #a43cff);
  padding: 6px 10px;
  border-radius: 8px;
  color: #fff;
}

header ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

header ul li a {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
}

header ul li a:hover {
  color: #a43cff;
}

/* HERO SECTION */
.hero {
  padding: 100px 40px;
  text-align: center;
  background: linear-gradient(120deg, #ff63b1, #a43cff, #7a5bff);
  color: white;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.hero h1 {
  font-size: 55px;
  font-weight: 800;
}

.hero p {
  font-size: 20px;
  margin-top: 10px;
}

.btn {
  padding: 12px 20px;
  font-size: 18px;
  margin: 20px 10px;
  border-radius: 10px;
  text-decoration: none;
  display: inline-block;
}

.btn-primary {
  background: #fff;
  color: #a43cff;
  font-weight: 600;
    border: 2px solid rgb(131, 124, 124);

}

.btn-outline {
background: #fff;
  color: #a43cff;
  font-weight: 600;
  border: 2px solid rgb(131, 124, 124);
}


/* CARD SECTION */
.section {
  padding: 60px;
}

.section h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 35px;
  color: #a43cff;
}

.card-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 10px 30px #e8d5ff;
  text-align: center;
}

.card h3 {
  margin-bottom: 10px;
  color: #8c34ff;
}

/* FOOTER */
footer {
  padding: 25px;
  margin-top: 40px;
  background: #2d004d;
  color: white;
  text-align: center;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}
